<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome To Our Quiz !
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{# navbar #}
		<navbar>
			<ul>
				<li><a href="{{path('app_home')}}">Home</a></li>
				{% if app.user %}
				<li><a href="{{path('app_question')}}">Afficher toutes les questions </a></li>
				<li><a href="{{path('app_logout')}}">Logout</a></li>
				{% endif %}
				{% if not app.user %}
				<li><a href="{{path('app_register')}}">Register</a></li>
				<li><a href="{{path('app_login')}}">Login</a></li>
				{% endif %}
			</ul>
		</navbar>
		{% block body %}{% endblock %}
	</body>
</html>
